<% node['hosts'].each do |hostname, ip, ssh_options| %>
[<%= hostname %>]
  address ssh://<%= hostname -%><% if ssh_options && ssh_options['Port'] %>:<%= ssh_options['Port'] %><% end -%> -W localhost:4949
<% end %>
