Host *
  TCPKeepAlive yes
  ServerAliveInterval 60
  ConnectTimeout 30
  StrictHostKeyChecking no
<% if @user_known_hosts_file -%>
  UserKnownHostsFile <%= @user_known_hosts_file %>
<% end -%>

Host lab.rvperf.org
 ControlMaster       auto
 ControlPath         ~/.ssh/control.%h_%p_%r
 ControlPersist      360

Host 139.178.85.85
 ControlMaster       auto
 ControlPath         ~/.ssh/control.%h_%p_%r
 ControlPersist      360

<% @nodes.each do |hostname, ip, ssh_options| -%>
Host <%= hostname %>
<% if ip -%>
  HostName <%= ip %>
<% end -%>
<% Hash(ssh_options).each do |opt, value| -%>
  <%= opt %> <%= value %>
<% end %>
<% end -%>
